<div class="card-body">
    <!-- card 1 -->
    <div class="texto1 card text-dark" style="width: 18rem;">
        <div class="card-body">
          <h5 class="texto1 card-title d-flex justify-content-center">Boletim de Notícias</h5>
        
          <ul class="card-text texto1 p-3" id="menu">
            <li>
              <a href="https://www.gov.br/saude/pt-br/assuntos/noticias/ministerio-da-saude-e-conselho-do-ministerio-publico-firmam-acordo-de-cooperacao" target="_blank">Mais de 100 milhões de vacinas para COVID-19 são alocadas aos centros de saúde públicos.</a>
            </li>
            <li>
              <a href="https://www.gov.br/saude/pt-br/assuntos/noticias/brasil-registra-4-721-593-de-pessoas-recuperadas-1" target="_blank">Vagas nas universidades públicas aumentam para a área da saúde </a>
            </li>
            <li>
              <a href="https://www.gov.br/saude/pt-br/assuntos/noticias/ministerio-da-saude-aumenta-recursos-para-fortalecer-atendimento-em-comunidades-e-favelas" target="_blank">Surto de ebola na Serra Leoa é considerado contido pela OMS </a>
            </li>
            <li>
              <a href="https://www.gov.br/saude/pt-br/assuntos/noticias/curitiba-recebe-acoes-educativas-de-prevencao-ao-suicidio-e-a-automutilacao" target="_blank">Dia “D” para multivacinação vacina milhares de crianças e adolescentes em todo o país</a>
            </li>

            </ul> 

            <a href="#">Mais Notícias</a>
       
          
        </div>
      </div>
<!-- /card 1 -->

<!-- card 2 -->
<div class="card-body"></div>
<div class="texto1 card text-dark" style="width: 18rem;">
  <div class="card-body">
    <h5 class="texto1 card-title d-flex justify-content-center">Comunidades</h5>
  
    <ul class="card-text texto1 p-3" style="text-size-adjust: start;" id="menu2">
      <li>
        <a href="#">Cardiologia Brasil - 40423 membros.</a>
      </li>
      <li>
        <a href="#">Nefrologia TO/BR - 23010 membros </a>
      </li>
      <li>
        <a href="#">Doenças do Fígado/Pâncreas - 50932 membros </a>
      </li>
      <li>
        <a href="#">Médicos Sem Fronteiras - 90293 membros</a>
      </li>

      </ul> 

      <a href="#">Procurar Comunidades</a>
 
    
  </div>
</div>

<!-- card 2 -->

</div>

