

<div class="container-fluid" style="background-color: #f5f5f5; margin-top: 100px; background-color: #f5f5f5;">

  <div class="row">

    <div class="col-md-3 d-flex justify-content-start">
      <app-perfil-lateral></app-perfil-lateral>
    </div>
    
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">

          <div class="card">
            <div class="card-header d-flex justify-content-center">
              <button type="button" class="btn btn d-flex justify-content-center texto1" data-toggle="modal"
                data-target="#cadastrar" data-whatever="@mdo">
                Comece uma publicação
              </button>
            </div>
          </div>

          <div class="modal fade" id="cadastrar" tabindex="-1" role="dialog" aria-labelledby="criarpublicacao"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title texto1 text-dark" id="criarpublicacao">
                    Criar publicação
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <!-- Formulário criar publicação modal-->
                <div class="modal-body">
                  <div>
                    <div class="form-group">
                      <label for="message-text1" class="col-form-label"></label>
                      <textarea class="form-control texto1" id="message-text1" placeholder="No que você está pensando?"
                        [(ngModel)]="postagem.descricao"></textarea>
                    </div>
                    <div class="form-group">
                      <input class="form-control mb-3" id="message-text2" placeholder="Poste o link da imagem"
                        [(ngModel)]="postagem.foto" />
                    </div>
                    <div class="form-group ">
                      <label for="message-text" class="col-form-label"></label>
                      <input class="form-control mb-3" id="message-text" placeholder="Poste o link do video"
                        [(ngModel)]="postagem.video" />
                    </div>

                    <div class="col-md-6 justify-content-end">
                      <div class="form-group m-0">
                        <label class="texto1 text-dark" for="tema">Escolha um tema ou
                          <a routerLink="/posttema" data-dismiss="modal" class="texto1">Cadastre um
                            novo</a></label>
                        <select name="tema" id="tema" class="form-control" (change)="findByIdTema()"
                          [(ngModel)]="idTema">
                          <option class="texto1" *ngFor="let item of listaTemas" value="{{ item.id }}">
                            {{ item.nometema }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="modal-footer texto1">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Fechar
                  </button>
                  <button type="button" class="btn btn-success" (click)="publicar()" data-dismiss="modal">
                    Publicar
                  </button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-6">



        <div class="input-group">
            <input type="text" class="form-control rounded" placeholder="Digite um tema para pesquisar  &#xF002;" aria-label="pesquisa por tema" [(ngModel)]='nomeTema' (keyup)='findByNomeTema()'><i id="lupa"></i>
          </div>
        </div>
      </div>

      <!--Card novo-->
      <div class="row mb-5 mt-5" *ngFor="let item of listaTemas | orderBy : key : reverse">
        <div class="col-md-12"  *ngFor="let post of item.postagem">
          <div class="card border-success mb-3">
            <div class="card-header bg-transparent border-success text-dark">
              <h3>Tema: {{item.nometema}}</h3>
            </div>
              <!--Texto-->
              <div class="card-body text-dark" >
                <p class="card-text">{{ post.descricao }}</p>
              </div>
              <!--/Texto-->
              <!--Imagem-->
              <div style="width: 35rem;" class="embed-responsive m-5 embed-responsive-4by3">
                <div  *ngIf="post.foto != ''">
                  <img class="embed-responsive-item" src="{{ post.foto }}" alt="" />
                </div>
              </div>
              <!--Imagem-->
              <!--Vídeo-->
              
              <div style="width: 35rem;" class="embed-responsive m-5 embed-responsive-4by3">
                
                <div *ngIf="post.video != ''">
                  <object class="embed-responsive-item">
                      <param name="movie" value="{{ post.video }}" />
                        <embed src="{{ post.video }}" type="application/x-shockwave-flash"/>
                  </object>
                </div>
              </div>
              <!--/Vídeo-->

              
            <div class="card-footer bg-transparent border-success">
              <div class="row">
                <div class="col-md-8">
                  <small id="texto" class="form-text m-0 text-muted mb-3 texto1">
                    Postado em {{ post.dataPostagem | date: "dd/MM/yyyy" }} às
                    {{ post.dataPostagem | date: "HH:mm" }}
                  </small>

                </div>
                <div class="col-md-4">
                  <td class="d-flex justify-content-end">
                    <a class="btn btn-outline-info mr-3" data-toggle="modal" data-target="#editar" [routerLink] = "['/feed', post.id]" >Editar</a>
                    <a class="btn btn-outline-danger"  data-toggle="modal" data-target="#apagar" [routerLink] = "['/feed', post.id]">Apagar</a>
                  </td>
                  
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!--/Card Novo-->

      
      <!-- Modal Teste -->


      <!--Modal editar-->
      <div class="modal fade" id="editar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Editar publicação</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label"></label>
                  <textarea class="form-control" id="message-text" placeholder="No que você está pensando?"
                    [(ngModel)]='postagem.descricao'></textarea>
                </div>

                <div class="col-md-6 justify-content-end">
                  <div class="form-group m-0">
                    <label class="texto1" for="tema2">Escolha um tema</label>
                    <select name="tema2" id='tema2' class="form-control" (change)='findByIdTema()' [(ngModel)]='idTema'>
                      <option *ngFor='let item of listaTemas' value="{{item.id}}">
                        {{item.nometema}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>


            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              <button type="button" class="btn btn-success" (click)='salvar()'  data-dismiss="modal">Salvar</button>
            </div>
          </div>       
        </div>
      </div>

      <!--  Modal Apagar -->
      <div class="modal" tabindex="-1" id="apagar" >
        <div class="modal-dialog">
          <div class="modal-content ">
            <div class="modal-header">
              <h5 class="modal-title">Tem certeza que deseja apagar ?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="d-flex justify-content-center mt-5 mb-5">
              <button class="btn btn-outline-success mr-3" (click)="btnSim()" data-dismiss="modal" >Sim</button>
              <button class="btn btn-outline-danger" (click)="btnNao()" data-dismiss="modal">Não</button>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <app-barra-direita></app-barra-direita>
    </div>

  </div>
</div>
<app-footer></app-footer>