
<div class="container-fluid" style="margin-top: 100px;">
  <div class="row">

    <div class="col-md-3 d-flex justify-content-start">
      <app-perfil-lateral></app-perfil-lateral>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">

          <div class="card">
            <div class="card-header d-flex justify-content-center">
              <button type="button" class="btn btn d-flex justify-content-center texto1" data-toggle="modal"
                data-target="#cadastrar" data-whatever="@mdo">
                Comece uma publicação
              </button>
            </div>
          </div>

          <div class="modal fade" id="cadastrar" tabindex="-1" role="dialog" aria-labelledby="criarpublicacao"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title texto1" id="criarpublicacao">
                    Criar publicação
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <!-- Formulário criar publicação modal-->
                <div class="modal-body">
                  <div>
                    <div class="form-group">
                      <label for="message-text1" class="col-form-label"></label>
                      <textarea class="form-control texto1" id="message-text1" placeholder="No que você está pensando?"
                        [(ngModel)]="postagem.descricao"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="message-text2" class="col-form-label"></label>
                      <input class="form-control" id="message-text2" placeholder="Poste o link da imagem"
                        [(ngModel)]="postagem.foto" />
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label"></label>
                      <input class="form-control" id="message-text" placeholder="Poste o link do video"
                        [(ngModel)]="postagem.video" />
                    </div>

                    <div class="col-md-6 justify-content-end">
                      <div class="form-group m-0">
                        <label class="texto1" for="tema">Escolha um tema ou
                          <a routerLink="/posttema" data-dismiss="modal" class="texto1">Cadastre um
                            novo</a></label>
                        <select name="tema" id="tema" class="form-control" (change)="findByIdTema()"
                          [(ngModel)]="idTema">
                          <option class="texto1" *ngFor="let item of listaTemas" value="{{ item.id }}">
                            {{ item.nometema }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal-footer texto1">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Fechar
                  </button>
                  <button type="button" class="btn btn-success" (click)="publicar()" data-dismiss="modal">
                    Publicar
                  </button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-6">



        <div class="input-group">
            <input type="text" class="form-control rounded" placeholder="Digite um tema para pesquisar  &#xF002;" aria-label="pesquisa por tema" [(ngModel)]='nomeTema' (keyup)='findByNomeTema()'><i id="lupa"></i>
          </div>
        </div>
      </div>

        <div class="row" *ngFor="let item of listaTemas">
          <div class="col-md-12"  *ngFor="let post of item.postagem">
            <div class="card mt-5 mb-5" >
              <h3>Tema: {{item.nometema}}</h3>
              <div class="card-header">
                  <div class="row d-flex align-items-center">
                    <div class="col-md-8">
                      <h5 class="card-title bg-info"> </h5>

                      <small style="color: #696969;">Tema: {{post.descricao}}</small>
                    </div>
                    <div class="col-md-4 d-flex justify-content-end">
                      <button
                        class="mr-3 btn btn-outline-info"
                        [routerLink]="['/editar-post', item.id]"
                      >
                        Editar
                      </button>

                      <button
                        class="btn btn-outline-danger ml-3"
                        [routerLink]="['/delete-post', item.id]"
                      >
                        Apagar
                      </button>
                    </div>
                  </div>
                </div>

                <div class="card-body">
                  <p class="card-text" aria-describedby="texto">

                  </p>
                  <small
                    id="texto"
                    class="form-text m-0 text-muted mb-3 text-monospace"
                  >
                    Postado em {{ post.dataPostagem | date: "dd/MM/yyyy" }} às
                    {{ post.dataPostagem | date: "HH:mm" }}</small
                  >
                </div>
              </div>

          </div>
        </div>





    </div>

    <div class="col-md-3">
      <app-barra-direita></app-barra-direita>
    </div>

  </div>
</div>
