.container{
    text-align: center;
    width: 45%;
    margin: 0 auto;
}
button {
    width:35%;
}

.texto1{
    font-family: 'Segoe UI';
    }


.fourth {
    border-color: #6AE362;
    color: #28AD50 ;
    background-image: -webkit-linear-gradient(45deg, #6AE362 50%, transparent 50%);
    background-image: linear-gradient(45deg, #6AE362 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;

  }
  .fourth:hover {
    background-position: 0;
  }

  input{
    border:#ddd solid 1px;
    float:left;
    padding:5px 20px 5px 5px
 }


/* webkit solution */
::-webkit-input-placeholder {
  font-family: FontAwesome;
  text-align: right;
}

