<footer class="page-footer font-small  pt-2" style="background-color: #6AE362;">

  <div class="container">

    <div class="row">
      <div class="col-md-3 mb-3 d-flex justify-content-start">
        <h4 class="text-light p-3">Sobre nós</h4>
       
      </div>
    </div>
 
  </div>      
    
  
 
  

  <div class="footer-copyright text-center py-3 " style="background-color: #28AD50;">
      <span class="text-light"> © 2020 Copyright: </span>
      <a class="text-light" href="">ZUZ</a>
  </div>

</footer>