<!--Carrosel-->
<div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>

    

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://i.imgur.com/BP1ZbqB.jpg" alt="Primeiro Slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://i.imgur.com/HMFZeHk.jpg" alt="Segundo Slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://i.imgur.com/xf10jox.jpg" alt="Terceiro Slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>
<!--/Carrosel-->

<!--jumbotron-->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">A saúde é um direito de todos.</h1>
        <p class="lead"></p>
    </div>
</div>
<!--/jumbotron-->

<!--fotos-->
<div class="container ">

    <div class="row mt-3 mb-3">

        <div class="col-md-2 border border-white">
            <img style="width: 13rem;" class="rounded-circle border border-white" src="https://i.imgur.com/zrSdyZ0.jpg"
                alt="Foto Pâmela Xavier">
        </div>

        <div class="col-md-4">
            <div class=" p-5">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Pâmela Xavier</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Ilustradora | Java FullStack</h6>
                        <a href="https://www.linkedin.com/in/p%C3%A2mela-xavier/" class="card-link" target="_blank">LinkedIn</a>
                        <a href="https://github.com/Pamy05" class="card-link" target="_blank">GitHub</a>
                    </div>
                </div>
            </div>

         </div>

         <div class="col-md-2 border border-white">
            <img style="width: 13rem;" class="rounded-circle border border-white" src="https://i.imgur.com/Hebt2qD.jpg"
                alt="Foto Alex Cesar">
        </div>

        <div class="col-md-4">
            <div class=" p-5">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Alex Cesar</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Eng. Eletrônica | Full Stack | Java | Java Developer | Angular | Scrum | Spring</h6>
                        <a href="https://www.linkedin.com/in/alexcesarn/" class="card-link" target="_blank">LinkedIn</a>
                        <a href="https://github.com/AlexCesarNascimento" class="card-link" target="_blank">GitHub</a>
                    </div>
                </div>
            </div>

         </div>

     </div>   


     <div class="row mt-3 mb-3">

        <div class="col-md-2 border border-white">
            <img style="width: 13rem;" class="rounded-circle border border-white" src="https://i.imgur.com/0vwE064.jpg"
                alt="Foto Agnes-Ruescas">
        </div>

        <div class="col-md-4">
            <div class=" p-5">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Agnes Ruescas</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Dev. Full Stack | Java Developer | Java Script | Angular | Scrum | Spring | Estudante de Engenharia de Computação</h6>
                        <a href="https://www.linkedin.com/in/agnesruescas/" class="card-link" target="_blank">LinkedIn</a>
                        <a href="https://github.com/Agnes-Ruescas" class="card-link" target="_blank">GitHub</a>
                    </div>
                </div>
            </div>

         </div>

         <div class="col-md-2 border border-white">
            <img style="width: 13rem;" class="rounded-circle border border-white" src="https://i.imgur.com/BVMaLWv.jpg"
                alt="Foto Bruno Profeta">
        </div>

        <div class="col-md-4">
            <div class=" p-5">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Bruno Profeta</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Desenvolvimento Java Full Stack </h6>
                        <a href="https://www.linkedin.com/in/bruno-profeta-cavalcante/" class="card-link" target="_blank">LinkedIn</a>
                        <a href="https://github.com/bpcavalcante" class="card-link" target="_blank">GitHub</a>
                    </div>
                </div>
            </div>

         </div>

     </div>   

     <div class="row mt-3 mb-3">

        <div class="col-md-2 border border-white">
            <img style="width: 13rem;" class="rounded-circle border border-white" src="https://i.imgur.com/aHva3pj.jpg"
                alt="Foto fabio casaroti">
        </div>

        <div class="col-md-4">
            <div class=" p-5">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">fabio casaroti</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Java Full Stack Developer Jr. | Architect | Designer | Spring Boot | Angular | MySQL | SCRUM | Java | REST | Javascript</h6>
                        <a href="https://www.linkedin.com/in/casarotif/" class="card-link" target="_blank">LinkedIn</a>
                        <a href="https://github.com/casarotif" class="card-link" target="_blank">GitHub</a>
                    </div>
                </div>
            </div>

         </div>


     </div>   
     
     
     


       



   





</div>
   <!--/fotos-->