<app-navbar ></app-navbar>


<div id="#topo"> </div>

 <!-- carteira bb -->  
<div class="container ">
<!--jumbotron-->
<div class="jumbotron jumbotron-fluid mt-5 " style="background-color: #6AE362;" >
  <div class="container ">
      <img style="width: 5rem;" src="https://i.imgur.com/G10SD9c.png" alt="icone baby">
      <h5 style="color: rgb(255, 255, 255); font-family: 'Segoe UI';">Carteira de vacinação infantil</h5>
      <p class="lead"></p>
  </div>
</div>
<!--/jumbotron-->
 <div id="#topo">
   
 </div>

 <!-- carteira bb -->
  <div class="row" >
    <div class="col-mt-8">
        <table class="table table-hover ">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Vacinas</th>
                <th scope="col">Dose</th>
                <th scope="col">Doenças Evitadas</th>
                <th scope="col">Confirmação</th>
                
              </tr>
            </thead>

            <tbody>
              <tr>
                <th scope="row">Ao nascer</th>
                <td>BCG-ID</td>
                <td>dose unica</td>
                <td>Formas graves de Tuberculose</td>
                <td><div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Vacina aplicada
                    </label>
                  </div></td>
              </tr>
              <tr>
                <th scope="row">Ao nascer</th>
                <td>Vacina contra Hepatite B (1)</td>
                <td>1ª dose</td>
                <td>Hepatite B</td>
                <td><div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Vacina aplicada
                    </label>
                  </div></td>
              </tr>
              <tr>
                <th scope="row">1 mês</th>
                <td>Vacina contra Hepatite B</td>
                <td>2ª dose</td>
                <td>Hepatite B</td>
                <td><div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Vacina aplicada
                    </label>
                  </div></td>
              </tr>
              <tr>
                <th scope="row">2 meses</th>
                <td>Vacina Oral contra a Pólio</td>
                <td>1ª dose</td>
                <td>Poliomielite (paralisia Infantil)</td>
                <td><div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Vacina aplicada
                    </label>
                  </div></td>
              </tr>
              <tr>
                <th scope="row">2 meses</th>
                <td>Vacina Tetravalente (2)</td>
                <td>1ª dose</td>
                <td>infecções por Haemophilus influenzae tipo B</td>
                <td><div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Vacina aplicada
                    </label>
                  </div></td>
              </tr>
              <tr>
                <th scope="row">2 meses</th>
                <td>Vacina Oral contra Rotavírus Humano (3)</td>
                <td>1ª dose	</td>
                <td>Doenças diarréicas por Rotavírus</td>
                <td><div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Vacina aplicada
                    </label>
                  </div></td>
              </tr>
              <tr>
                <th scope="row">2 meses</th>
                <td>Vacina contra Pneumococos</td>
                <td>1ª dose</td>
                <td>Otite, sinusite, pneumonias, meningite</td>
                <td><div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Vacina aplicada
                    </label>
                  </div></td>
              </tr>
              <tr>
                <th scope="row">3 meses</th>
                <td>Vacina contra Meningococo C</td>
                <td>1ª dose</td>
                <td>Doença invasiva causada por Neisseria meningitidis</td>
                <td><div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Vacina aplicada
                    </label>
                  </div></td>
              </tr>
              <tr>
                <th scope="row">4 meses</th>
                <td>Vacina Oral contra a Pólio</td>
                <td>2ª dose</td>
                <td>Poliomielite (paralisia Infantil)</td>
                <td><div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Vacina aplicada
                    </label>
                  </div></td>
              </tr>
              <tr>
                <th scope="row">2 meses</th>
                <td>Vacina Tetravalente</td>
                <td>2ª dose</td>
                <td>Difteria, tétano, coqueluche, meningite</td>
                <td><div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Vacina aplicada
                    </label>
                  </div></td>
              </tr>
              <tr>
                <th scope="row">4 meses</th>
                <td>Vacina Oral contra Rotavírus Humano (4)</td>
                <td>2ª dose	</td>
                <td>Doenças diarréicas por Rotavírus</td>
                <td><div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Vacina aplicada
                    </label>
                  </div></td>
              </tr>


              <tr>
                <th scope="row">4 meses</th>
                <td>Vacina contra Pneumococos</td>
                <td>2ª dose	</td>
                <td>Otite, sinusite, pneumonias, meningite</td>
                <td><div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Vacina aplicada
                    </label>
                  </div></td>
              </tr>
              <tr>
                <th scope="row">4 meses</th>
                <td>Vacina Oral contra Rotavírus Humano (4)</td>
                <td>2ª dose	</td>
                <td>Doenças diarréicas por Rotavírus</td>
                <td><div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Vacina aplicada
                    </label>
                  </div></td>
              </tr>
              <tr>
                <th scope="row">5 meses</th>
                <td>Vacina contra Meningococo C</td>
                <td>2ª dose	</td>
                <td>Doença invasiva causada por Neisseria meningitidis</td>
                <td><div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Vacina aplicada
                    </label>
                  </div></td>
              </tr>
              <tr>
                <th scope="row">6 meses</th>
                <td>Vacina contra Hepatite B</td>
                <td>3ª dose</td>
                <td>Hepatite B</td>
                <td><div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Vacina aplicada
                    </label>
                  </div></td>
              </tr>
              <tr>
                <th scope="row">6 meses</th>
                <td>Vacina Tetravalente</td>
                <td>3ª dose</td>
                <td>Difteria, tétano, coqueluche, meningite</td>
                <td><div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Vacina aplicada
                    </label>
                  </div></td>
              </tr>
              <tr>
                <th scope="row">6 meses</th>
                <td>Vacina contra Pneumococos</td>
                <td>3ª dose</td>
                <td>Otite, sinusite, pneumonias, meningite</td>
                <td><div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Vacina aplicada
                    </label>
                  </div></td>
              </tr>
              <tr>
                <th scope="row">9 meses</th>
                <td>Vacina contra febre amarela (5)</td>
                <td>1ª dose	</td>
                <td>Febre amarela</td>
                <td><div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Vacina aplicada
                    </label>
                  </div></td>
              </tr>
              <tr>
                <th scope="row">12 meses</th>
                <td>Tríplice Viral</td>
                <td>1ª dose</td>
                <td>Sarampo, Rubéola e Caxumba</td>
                <td><div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Vacina aplicada
                    </label>
                  </div></td>
              </tr>
              <tr>
                <th scope="row">12 meses</th>
                <td>Vacina contra Pneumococos</td>
                <td>Reforço	</td>
                <td>Otite, sinusite, pneumonias, meningite</td>
                <td><div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Vacina aplicada
                    </label>
                  </div></td>
              </tr>
              <tr>
                <th scope="row">15 meses</th>
                <td>Vacina Oral contra a Pólio</td>
                <td>Reforço</td>
                <td>Poliomielite (paralisia Infantil)</td>
                <td><div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Vacina aplicada
                    </label>
                  </div></td>
              </tr>
              <tr>
                <th scope="row">15 meses</th>
                <td>Vacina Tríplice Bacteriana</td>
                <td>1º Reforço</td>
                <td>Difteria, tétano, coqueluche</td>
                <td><div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Vacina aplicada
                    </label>
                  </div></td>
              </tr>
              <tr>
                <th scope="row">15 meses</th>
                <td>Vacina contra Meningococo C</td>
                <td>Reforço</td>
                <td>Doença invasiva causada por Neisseria meningitidis</td>
                <td><div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Vacina aplicada
                    </label>
                  </div></td>
              </tr>
              <tr>
                <th scope="row">4 – 6 anos</th>
                <td>Tríplice Viral</td>
                <td>Reforço</td>
                <td>Sarampo, Rubéola e Caxumba</td>
                <td><div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Vacina aplicada
                    </label>
                  </div></td>
              </tr>
              <tr>
                <th scope="row">4 – 6 anos</th>
                <td>Vacina Tríplice Bacteriana</td>
                <td>2º Reforço</td>
                <td>Difteria, tétano, coqueluche</td>
                <td><div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Vacina aplicada
                    </label>
                  </div></td>
              </tr>
              
             
            </tbody>
          </table>
    </div>
</div>
</div>
<!-- carteira bb -->



  <!-- carteira infantil -->       
<div class="container">
  <!--jumbotron-->
  <div class="jumbotron jumbotron-fluid" style="background-color: #6AE362;">
    <div class="container">
        <img style="width: 5rem;" src="https://i.imgur.com/XBJktLr.png" alt="icone jovem">
        <h5 style="color: rgb(255, 255, 255);">Carteira de Vacinação do Adolescente</h5>
        <p class="lead"></p>
    </div>
   </div>
    <!--/jumbotron-->
 

    <!-- carteira infantil -->            
    <div class="row">
      <div class="col-mt-8">
          <table class="table table-hover ">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Vacinas</th>
                  <th scope="col">Dose</th>
                  <th scope="col">Doenças Evitadas</th>
                  <th scope="col">Confirmação</th>
                  
                </tr>
              </thead>

              <tbody>
                <tr>
                  <th scope="row">De 11 a 19</th>
                  <td>Dupla Adulto </td>
                  <td>1ª dose</td>
                  <td>Difteria e Tétano</td>
                  <td><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Vacina aplicada
                      </label>
                    </div></td>
                </tr>
                <tr>
                  <th scope="row">De 11 a 19 anos</th>
                  <td>Hepatite B (2)</td>
                  <td>1ª dose</td>
                  <td>Hepatite B</td>
                  <td><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Vacina aplicada
                      </label>
                    </div></td>
                </tr>
                <tr>
                  <th scope="row">De 11 a 19 anos</th>
                  <td>Febre Amarela (3)</td>
                  <td>Reforço</td>
                  <td>Febre Amarela</td>
                  <td><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Vacina aplicada
                      </label>
                    </div></td>
                </tr>
                <tr>
                  <th scope="row">De 11 a 19 anos</th>
                  <td>Tríplice Viral (4)</td>
                  <td>Única</td>
                  <td>Sarampo, Rubéola e Caxumba</td>
                  <td><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Vacina aplicada
                      </label>
                    </div></td>
                </tr>
                <tr>
                  <th scope="row">1 mês após a 1ª dose contra Hepatite B</th>
                  <td>Hepatite B</td>
                  <td>2ª dose</td>
                  <td>Hepatite B</td>
                  <td><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Vacina aplicada
                      </label>
                    </div></td>
                </tr>
                <tr>
                  <th scope="row">6 meses após a 2ª dose contra a Hepatite B</th>
                  <td>Hepatite B</td>
                  <td>3ª dose</td>
                  <td>Hepatite B</td>
                  <td><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Vacina aplicada
                      </label>
                    </div></td>
                </tr>
                <tr>
                  <th scope="row">2 meses após a 1ª dose de Dupla Adulto</th>
                  <td>Dupla Adulto</td>
                  <td>2ª dose</td>
                  <td>Difteria e Tétano</td>
                  <td><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Vacina aplicada
                      </label>
                    </div></td>
                </tr>
                <tr>
                  <th scope="row">2 meses após a 2ª dose de Dupla Adulto</th>
                  <td>Dupla Adulto</td>
                  <td>3ª dose	</td>
                  <td>Difteria e Tétano</td>
                  <td><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Vacina aplicada
                      </label>
                    </div></td>
                </tr>
                <tr>
                  <th scope="row">A cada 10 anos, por toda a vida</th>
                  <td>Dupla Adulto</td>
                  <td>Reforço	</td>
                  <td>Difteria e Tétano</td>
                  <td><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Vacina aplicada
                      </label>
                    </div></td>
                </tr>
              </tbody>
            </table>
      </div>
  </div>
</div>
  <!-- carteira infantil -->
  
             

    <!-- carteira adulto -->
   <div class="container">
 <!--jumbotron-->
 <div class="jumbotron jumbotron-fluid" style="background-color: #6AE362">
  <div class="container">
      <img style="width: 5rem;" src="https://i.imgur.com/gzOS1mB.png" alt="icone Adulto">
      <img style="width: 5rem;" src="https://i.imgur.com/QplKLjK.png" alt="icone Adulto">
      <h5 style="color: rgb(255, 255, 255);">Carteira de Vacinação do Adulto e Idoso</h5>
      <p class="lead"></p>
  </div>
 </div>
  <!--/jumbotron-->    
    <div class="row">
      <div class="col-mt-8">
          <table class="table table-hover ">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Vacinas</th>
                  <th scope="col">Dose</th>
                  <th scope="col">Doenças Evitadas</th>
                  <th scope="col">Confirmação</th>
                  
                </tr>
              </thead>

              <tbody>
                <tr>
                  <th scope="row">20 anos</th>
                  <td>Dupla Adulto (1)</td>
                  <td>1ª dose</td>
                  <td>Difteria e Tétano</td>
                  <td><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Vacina aplicada
                      </label>
                    </div></td>
                </tr>
                <tr>
                  <th scope="row">20 anos</th>
                  <td>Hepatite B (2)</td>
                  <td>1ª dose</td>
                  <td>Hepatite B</td>
                  <td><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Vacina aplicada
                      </label>
                    </div></td>
                </tr>
                <tr>
                  <th scope="row">20 anos</th>
                  <td>Febre Amarela (3)</td>
                  <td>Inicial ou Reforço</td>
                  <td>Febre Amarela</td>
                  <td><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Vacina aplicada
                      </label>
                    </div></td>
                </tr>
                <tr>
                  <th scope="row">20 anos</th>
                  <td>Tríplice Viral (4)</td>
                  <td>Única</td>
                  <td>Sarampo, Rubéola e Caxumba</td>
                  <td><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Vacina aplicada
                      </label>
                    </div></td>
                </tr>
                <tr>
                  <th scope="row">1 mês após a 1ª dose contra Hepatite B</th>
                  <td>Hepatite B</td>
                  <td>2ª dose</td>
                  <td>Hepatite B</td>
                  <td><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Vacina aplicada
                      </label>
                    </div></td>
                </tr>
                <tr>
                  <th scope="row">6 meses após a 2ª dose contra a Hepatite B</th>
                  <td>Hepatite B</td>
                  <td>3ª dose</td>
                  <td>Hepatite B</td>
                  <td><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Vacina aplicada
                      </label>
                    </div></td>
                </tr>
                <tr>
                  <th scope="row">2 meses após a 1ª dose de Dupla Adulto</th>
                  <td>Dupla Adulto</td>
                  <td>2ª dose</td>
                  <td>Difteria e Tétano</td>
                  <td><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Vacina aplicada
                      </label>
                    </div></td>
                </tr>
                <tr>
                  <th scope="row">2 meses após a 2ª dose de Dupla Adulto</th>
                  <td>Dupla Adulto</td>
                  <td>3ª dose	</td>
                  <td>Difteria e Tétano</td>
                  <td><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Vacina aplicada
                      </label>
                    </div></td>
                </tr>
                <tr>
                  <th scope="row">A cada 10 anos, por toda a vida</th>
                  <td>Dupla Adulto</td>
                  <td>Reforço	</td>
                  <td>Difteria e Tétano</td>
                  <td><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Vacina aplicada
                      </label>
                    </div></td>
                </tr>
                <tr>
                  <th scope="row">2 meses após a 2ª dose de Dupla Adulto</th>
                  <td>Dupla Adulto</td>
                  <td>3ª dose	</td>
                  <td>Difteria e Tétano</td>
                  <td><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Vacina aplicada
                      </label>
                    </div></td>
                </tr>
                <tr>
                  <th scope="row">Febre Amarela</th>
                  <td>Febre Amarela</td>
                  <td>Reforço</td>
                  <td>Febre Amarela</td>
                  <td><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Vacina aplicada
                      </label>
                    </div></td>
                </tr>
                
               
              </tbody>
            </table>
      </div>
   </div>
</div>
  <!-- carteira adulto -->






  <div class="container box zoom d-flex justify-content p-5">
    <div class="row">
      <div class="col-mt-12">
        <div class="topo">
          <a href='/carteira-vacina/#topo'>
            <img  style="width: 10rem;" src="https://i.imgur.com/KuSbFYb.png" alt="voltar ao topo">
          </a>
         
        </div>
      </div>
    </div>
    
  </div>  
  
  
  <app-footer></app-footer>
        
 
   
   








 

    