.parallax{
    background-image: url(https://i.imgur.com/QxoPlf1.png);

    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}