
 <div class="card-body">
        <div class="parallax border">
            <div class="d-flex justify-content-center mt-4 mb-2" style="width: 18rem;">
                <img class="card-img-top rounded-circle border w-75"  src="{{userFoto}}" alt="imagem perfil lateral">
            </div>
            <h5 class="card-title text-center text-dark ">{{userNome}}</h5>
            <p class="card-text text-center"></p>
            <br><br>
            <div class="container">
                <div class="row">
                    <div class="col ml-5">
                        <a href="/feed" class="btn mb-3 mr-5 d-flex justify-content-center fourth" >Feed</a>
    
                        <a href="/feed" class="btn mb-3 mr-5 d-flex justify-content-center fourth">Perfil</a>
            
                        <a href="/consultas" class="btn mb-3 mr-5 d-flex justify-content-center fourth">Consultas</a>
            
                        <a href="/carteira-vacina" class="btn mb-3 mr-5 d-flex justify-content-center fourth">Vacinas</a>
            
                        <a href="/sobre" class="btn mb-3 mr-5 d-flex justify-content-center fourth">Sobre Nós</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

