<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://www.hojeemdia.com.br/polopoly_fs/1.635740!/image/image.PNG_gen/derivatives/landscape_653/image.PNG" alt="imagem perfil lateral">
    </div>

    <div class="card-body">
        <h5 class="card-title text-center">Usuário</h5>
        <p class="card-text text-center">Médico/Paciente</p>

        <a href="" class="btn btn-outline-info mb-3 d-flex justify-content-center">Botão 1</a>

        <a href="" class="btn btn-outline-info mb-3 d-flex justify-content-center">Botão 2</a>


    </div>

</div>